<table style="width: 691px; margin: 0pt auto; background-color: #fff; font-family: Arial,Tahoma,sans-serif;"
       border="0" cellspacing="0" cellpadding="0" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
    <tbody>
        <tr style="color:#fff">
            <td align="center" valign="top" colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="color:#fff;">
                        <td rowspan="3" valign="top" style="width: 18px; background: url(images/lateral_continued1.png) repeat-y">
                            <img src="images/lateral_top1.png">
                        </td>
                        <td style="width: 100%; height: 23px; font-size:8pt; color:#757575; font-family: Trebuchet MS, sans-serif; text-align: right; padding-right: 3px">
                            Having trouble reading this newsletter?
                            <a href="http://www.vicoustic.com">Click here</a> to see it in your browser.
                        </td>
                        <td rowspan="3" valign= top style="width: 18px; background: url(images/lateral_continued2.png) repeat-y">
                            <img src="images/lateral_top2.png">
                        </td>
                    </tr>
                    <tr style="color:#fff">
                        <td style="width: 100%; height: 134px; background: url(images/logo.png)">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr style="color:#fff;">
                                    <td width="150px" height="60px" align="right" style="font-size: 60pt; font-weight:bold; font-family: Arial, sans-serif; padding-right: 30px;">
                                        13
                                    </td>
                                </tr>
                                <tr style="color:#fff;">
                                    <td width="150px" height="25px" align="right" style="font-size: 13pt; font-weight:bold; font-family: Arial, sans-serif; padding-right: 30px">
                                        Feb, 2013
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table style="margin: auto; width: 651px; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="width: 100%; background: url(images/main_picture_begin.png)">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; height:250px; max-height: 250px; overflow-y:hidden; background: url(images/main_picture_continued.png) repeat-y">
                                        <table style="table-layout: fixed; overflow: hidden" width="100%" height="100%" max-height="250px" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr style="color:#fff;">
                                                <td align="left" style="width: 50%; font-size: 23pt; font-family: Trebuchet MS, sans-serif; padding: 0 0 0 20px">
                                                    First Title
                                                </td>
                                            </tr>
                                            <tr style="color:#fff;">
                                                <td align="left" style="width: 50%; height: 150px; text-align: justify; font-size: 10pt; font-family: Trebuchet MS, sans-serif; padding-right: 10px; padding-left: 20px">
                                                    The Visquare Pro was a custom panel made especially for the BBC last year and that has now been added to the standard line up of products.<br /><br />
                                                    While the Visquect is ideal to treat larger surfaces. It comes in all the usual finishes (M1, Premium, Tech, Tech with Black/White veil, Tech Premium).
                                                    While the Visquect is ideal to treat larger surfaces. It comes in all the usual finishes (M1, Premium, Tech, Tech with Black/White veil, Tech Premium).
                                                </td>
                                                <td align="left" style="width: 50%; height: 150px; text-align: justify; font-size: 10pt; font-family: Trebuchet MS, sans-serif; padding-right: 10px; padding-left: 20px">
                                                </td>
                                            </tr>
                                            <tr style="color:#fff">
                                                <td align="left" style="width: 50%; padding-left: 20px">
                                                    <a href="http://www.vicoustic.com"><img src="images/find_more.png"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="7" valign="top" style="width: 18px; background: url(images/lateral_continued1.png) repeat-y">
                            <img src="images/lateral_middle1.png">
                        </td>
                        <td align="center" valign="top">
                            <table style="margin: auto; width: 651px; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="width: 100%; background: url(images/main_picture_end.png)">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%; height:44px; color:#fff; background: url(images/subtitle_bar.png); font-size: 19.5pt; font-family: Trebuchet MS, sans-serif; padding-left: 15px">
                                        Second Title
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_begin.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; height: 229px; background: url(images/product_continued.png) repeat-y">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr style="color:#fff;">
                                                            <td align="left" valign="top" rowspan ="3" style="width: 206px; height: 204px; background: url(images/frame.png) no-repeat; text-align: center; padding-top: 20px">
                                                               &nbsp;
                                                            </td>
                                                            <td align="left" style="width: 445px; height: 26px; color:#000; font-size: 21pt; font-weight:bold; font-family: Arial, sans-serif; padding-top: 8px">
                                                                First Product
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 25px; color:#757575; font-size: 9pt; font-style:italic; font-family: Arial, sans-serif; padding-bottom: 15px">
                                                                Wednesday, 13th February 2013
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 150px; color:#757575; text-align: justify; font-size: 10pt; font-family: Arial, sans-serif; padding-right: 10px">
                                                                The Visquare Pro was a custom panel made especially for the BBC last year and that has now been added to the standard line up of products.<br /><br />
                                                                While the Visquare has centered perforations, the Pro version has equally distanced perforations on the entire panel so that when placed in a sequence, you cannot detect when one panel ends and the other starts.</br>
                                                                The continuity effect is ideal to treat larger surfaces. It comes in all the usual finishes (M1, Premium, Tech, Tech with Black/White veil, Tech Premium).
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_end.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_begin.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; height: 229px; background: url(images/product_continued.png) repeat-y">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 26px; color:#000; font-size: 21pt; font-weight:bold; font-family: Arial, sans-serif; padding: 8px 0 0 20px">
                                                                Second Product
                                                            </td>
                                                            <td align="left" valign="top" rowspan ="3" style="width: 206px; height: 204px; background: url(images/frame.png) no-repeat; text-align: center; padding-top: 20px">

                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 25px; color:#757575; font-size: 9pt; font-style:italic; font-family: Arial, sans-serif; padding: 0 0 15px 20px">
                                                                Wednesday, 13th February 2013
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 150px; color:#757575; text-align: justify; font-size: 10pt; font-family: Arial, sans-serif; padding-left: 20px">
                                                                The Visquare Pro was a custom panel made especially for the BBC last year and that has now been added to the standard line up of products.<br /><br />
                                                                While the Visquare has centered perforations, the Pro version has equally distanced perforations on the entire panel so that when placed in a sequence, you cannot detect when one panel ends and the other starts.</br>
                                                                The continuity effect is ideal to treat larger surfaces. It comes in all the usual finishes (M1, Premium, Tech, Tech with Black/White veil, Tech Premium).
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_end.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_begin.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; height: 229px; background: url(images/product_continued.png) repeat-y">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr style="color:#fff;">
                                                            <td align="left" valign="top" rowspan ="3" style="width: 206px; height: 204px; background: url(images/frame.png) no-repeat; text-align: center; padding-top: 20px">
                                                                &nbsp;
                                                            </td>
                                                            <td align="left" style="width: 445px; height: 26px; color:#000; font-size: 21pt; font-weight:bold; font-family: Arial, sans-serif; padding-top: 8px">
                                                                Third Product
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 25px; color:#757575; font-size: 9pt; font-style:italic; font-family: Arial, sans-serif; padding-bottom: 15px">
                                                                Wednesday, 13th February 2013
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#fff;">
                                                            <td align="left" style="width: 445px; height: 150px; color:#757575; text-align: justify; font-size: 10pt; font-family: Arial, sans-serif; padding-right: 10px">
                                                                The Visquare Pro was a custom panel made especially for the BBC last year and that has now been added to the standard line up of products.<br /><br />
                                                                While the Visquare has centered perforations, the Pro version has equally distanced perforations on the entire panel so that when placed in a sequence, you cannot detect when one panel ends and the other starts.</br>
                                                                The continuity effect is ideal to treat larger surfaces. It comes in all the usual finishes (M1, Premium, Tech, Tech with Black/White veil, Tech Premium).
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; background: url(images/product_end.png)">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td rowspan="7" valign="top" style="width: 18px; background: url(images/lateral_continued2.png) repeat-y">
                            <img src="images/lateral_middle2.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="color:#fff">
            <td style="width: 100%; height:32px; background: url(images/links_bar.png); padding:0 21px" align="right" colspan="2">
                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="color:#fff" align="right">
                        <td width="65%">
                            &nbsp;
                        </td>
                        <td width="10%">
                            <a href="http://www.facebook.com/wavewood"><img src="images/face.png"></a>
                        </td>
                        <td width="16%">
                            <a href="http://www.vicoustic.com"><img src="images/web.png"></a>
                        </td>
                        <td width="4%">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;" align="right" colspan="2">
                <img src="images/bottom.png">
            </td>
        </tr>
        <tr>
            <td width="345px" align="left" style="height: 25px; color:#757575; font-size: 8pt; font-family: Trebuchet MS, sans-serif; padding-left: 30px">
                <a href="http://www.29.mktid.com/lista_pub_altera.php?listaID=NV8zOTcx&c=3971&m_id=1071990&uid=4295b92bec&e=e307eb76e938eb3f069ee682c5cd7d81">Click here</a> to unsubscribe this newsletter
            </td>
            <td width="345px" align="right" style="height: 25px; color:#757575; font-size: 8pt; font-family: Trebuchet MS, sans-serif; padding-right: 30px">
                Copyright&copy; 2007
            </td>
        </tr>
    </tbody>
</table>