.icon-48-isolations {
      background-image: url(../images/l_isolations.png);
      padding-left:60px!important;
}

.icon-48-isolation {
      background-image: url(../images/l_isolations.png);
      padding-left:60px!important;
}

