.icon-48-panels {
      background-image: url(../images/l_panels.png);
      padding-left:60px!important;
}

.icon-48-panel {
      background-image: url(../images/l_panels.png);
      padding-left:60px!important;
}

