.icon-48-panel_graphs {
      background-image: url(../images/l_panel_graphs.png);
      padding-left:60px!important;
}

.icon-48-panel_graph {
      background-image: url(../images/l_panel_graphs.png);
      padding-left:60px!important;
}

